
DATABASE_URL="postgresql://neondb_owner:npg_heB6Ww8oHXEu@ep-jolly-tree-a8g1ehjz-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=5000

BETTER_AUTH_SECRET="eTSOQfiC3XMhCOkJn5ANSyvj7ppoNVqt"

BETTER_AUTH_URL="https://assignment-4-medistore-frontend.vercel.app" 
APP_URL="https://assignment-4-medistore-frontend.vercel.app" 

APP_USER="ahmedtasin225@gmail.com"
APP_PASS="thub lzkf sfdc qhgd"

GOOGLE_CLIENT_ID="1049759115061-sh2eh76dsrutrlbdpv8qdcbu8knq3vhf.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
